$md: 820px;
$form-item-margin-bottom: 12px;
$navWidth: 200px;
$contentWdith: 1400px;

// color ==================
$base-color: #003a74;
$base-dark-color: lighten($base-color, 10%);
$warning-color: #f57f17;
$danger-color: #d32f2f;
$nav-color: var(--el-color-primary);

// @use "vuetify/settings" with (
//   $button-height: 20px
// );

@forward "element-plus/theme-chalk/src/common/var.scss" with (
    $colors: (
      "primary": (
        "base": $base-color,
      ),
      "warning": (
        "base": $warning-color,
      ),
      "danger": (
        "base": $danger-color,
      ),
    ),
    // $font-path: "~element-plus/dist/fonts"
  );

@import "element-plus/theme-chalk/src/index.scss";

@import "./dark_theme.scss";
@import "./reset.scss";

@import "./pdf.scss";

:root {
  --el-menu-base-level-padding: 6px;
  --el-menu-item-height: 36px;
  --el-checkbox-input-height: 14px;
  --el-checkbox-input-width: 14px;
  // --el-color-primary: var(--el-color-primary);
  // --el-color-warning: $warning-color;
  // --el-color-danger: #c62828;
}

* {
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif !important;
  font-weight: 900;
  box-sizing: border-box !important;
}

html,
body {
  color: rgb(40, 40, 40);
  font-size: 16px;
  // background-color: black;
}

a {
  text-decoration: none;
}

.m {
  @media (min-width: $md) {
    display: none !important;
  }
}

.pc {
  @media (max-width: $md) {
    display: none !important;
  }
}

@mixin scrollbars($size, $background-color: black) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    width: $size !important;
    height: $size !important;
    background: $background-color !important;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }
}

.el-scrollbar {
  .el-scrollbar__wrap {
    @include scrollbars(999px);
  }
}

.v-btn {
  &.site-link {
    // background-color: $base-color;
    display: flex;
    width: 100%;
    padding: 6px;
    align-items: center;
    justify-content: center;
    aspect-ratio: 6/1;
    height: auto;
  }
}

.float-theme {
  position: fixed;
  top: 6px;
  right: 6px;
  z-index: 90;
}

.kv {
  height: 120px;
  margin-bottom: 24px;
  border-radius: 12px;
  .v-img__img.v-img__img--cover {
    filter: blur(4px);
  }
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // font-weight: bolder;
    font-size: 18px;
    color: white;
  }
}
